In [34]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as sci
import matplotlib.pyplot as matplt
import seaborn as sb
from sklearn.metrics import confusion_matrix
import matplotlib.mlab as matlab
%matplotlib inline

In [35]:
heartDisease_train=pd.read_csv("tubes2_HeartDisease_train.csv")

In [36]:
heartDisease_train.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,54,1,4,125,216,0,0,140,0,0,?,?,?,1
1,55,1,4,158,217,0,0,110,1,2.5,2,?,?,1
2,54,0,3,135,304,1,0,170,0,0,1,0,3,0
3,48,0,3,120,195,0,0,125,0,0,?,?,?,0
4,50,1,4,120,0,0,1,156,1,0,1,?,6,3

In [37]:
'''column 1:-age
    Column sex as 1=male,0,female
    Column 3:-chest pain type as 1=typical angina 2=atypical angina
    3=non anginal pain 4=asymtotic
    column 4:-resting blood pressure 
    column5:-serum cholestrol
    column 6:- fasting blood sugar as(>120mg/dl) 1=true0=false
    column 7 resting ecg 0=normal 1=having ST-T wave abnormality 2=left ventricular hyperthropy
    column 8:-maximum heart rate achieved as arbtary value
    column 9:-exercise induced agina as 1=yes 0=no
    column 10:-st depression induced by exercise relative to rest as arbitary value
    column 11 peak exercise st segment 1=upsloping,2=flat,3=downsloping
    column12:-number of major vessels(0-3) colored by flourosoppy as 0-3 value
    column 13:thal as 3=normal 6=fixed defect 7=reversible defect
    
    
'''

'column 1:-age\n    Column sex as 1=male,0,female\n    Column 3:-chest pain type as 1=typical angina 2=atypical angina\n    3=non anginal pain 4=asymtotic\n    column 4:-resting blood pressure \n    column5:-serum cholestrol\n    column 6:- fasting blood sugar as(>120mg/dl) 1=true0=false\n    column 7 resting ecg 0=normal 1=having ST-T wave abnormality 2=left ventricular hyperthropy\n    column 8:-maximum heart rate achieved as arbtary value\n    column 9:-exercise induced agina as 1=yes 0=no\n    column 10:-st depression induced by exercise relative to rest as arbitary value\n    column 11 peak exercise st segment 1=upsloping,2=flat,3=downsloping\n    column12:-number of major vessels(0-3) colored by flourosoppy as 0-3 value\n    column 13:thal as 3=normal 6=fixed defect 7=reversible defect\n    \n    \n'

In [38]:
heartDisease_train.dtypes

Column1      int64
Column2      int64
Column3      int64
Column4     object
Column5     object
Column6     object
Column7     object
Column8     object
Column9     object
Column10    object
Column11    object
Column12    object
Column13    object
Column14     int64
dtype: object

In [39]:
'''convert  all object data type to float and replave missing values with nan'''

'convert  all object data type to float and replave missing values with nan'

In [40]:
heartDisease_train.describe()

          Column1     Column2     Column3    Column14
count  779.000000  779.000000  779.000000  779.000000
mean    53.509628    0.779204    3.264442    0.989730
std      9.505017    0.415050    0.926284    1.138211
min     28.000000    0.000000    1.000000    0.000000
25%     47.000000    1.000000    3.000000    0.000000
50%     54.000000    1.000000    4.000000    1.000000
75%     60.000000    1.000000    4.000000    2.000000
max     77.000000    1.000000    4.000000    4.000000

In [41]:
heartDisease_train['Column4']=pd.to_numeric(heartDisease_train['Column4'],errors='coerce')

In [42]:
heartDisease_train.dtypes

Column1       int64
Column2       int64
Column3       int64
Column4     float64
Column5      object
Column6      object
Column7      object
Column8      object
Column9      object
Column10     object
Column11     object
Column12     object
Column13     object
Column14      int64
dtype: object

In [43]:
'''In to_numeric function if we set errors as
raise:-invalid parsing will raise an exception
coerce:-then invalid parsing will be set as Nan
ignore:-then invalid parsing will return the input'''

'In to_numeric function if we set errors as\nraise:-invalid parsing will raise an exception\ncoerce:-then invalid parsing will be set as Nan\nignore:-then invalid parsing will return the input'

In [44]:
heartDisease_train['Column5']=pd.to_numeric(heartDisease_train['Column5'],errors='coerce')

In [45]:
heartDisease_train['Column6']=pd.to_numeric(heartDisease_train['Column6'],errors='coerce')

In [46]:
heartDisease_train['Column7']=pd.to_numeric(heartDisease_train['Column7'],errors='coerce')

In [47]:
heartDisease_train['Column8']=pd.to_numeric(heartDisease_train['Column8'],errors='coerce')

In [48]:
heartDisease_train['Column9']=pd.to_numeric(heartDisease_train['Column9'],errors='coerce')

In [49]:
heartDisease_train['Column10']=pd.to_numeric(heartDisease_train['Column10'],errors='coerce')

In [50]:
heartDisease_train['Column11']=pd.to_numeric(heartDisease_train['Column11'],errors='coerce')

In [51]:
heartDisease_train['Column12']=pd.to_numeric(heartDisease_train['Column12'],errors='coerce')

In [52]:
heartDisease_train['Column13']=pd.to_numeric(heartDisease_train['Column13'],errors='coerce')

In [54]:
heartDisease_train.dtypes

Column1       int64
Column2       int64
Column3       int64
Column4     float64
Column5     float64
Column6     float64
Column7     float64
Column8     float64
Column9     float64
Column10    float64
Column11    float64
Column12    float64
Column13    float64
Column14      int64
dtype: object